<h1>Friend's list goes here</h1>

<% friends.map(friend =>{ %>
<li><%=friend%></li>
<%}) %>

<form action="/addFriend" method="POST">
  <input type="text" name="newFriend" placeholder="Name" autocomplete="off" />
  <button>I made a new friend!</button>
</form>
